@import url ('https://fonts.googleapis.com/css2? family = Lato: ital, wght @ 1.700 & display = swap');

body{
  background: linear-gradient(#e66465, #9198e5);
  font-family:'Lato', sans-serif;
}

.container{
  background: #ECF4FF;
  color: 1C1C1C;
  margin: 64px;
  border-radius: 30px;
  box-shadow: 6px 6px 6px #0E1D2F;
  padding: 64px; 
}

.perfil{
  display: flex;
  align-items: center;
}
.perfil-foto{
  border-radius: 480px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0.25);
  margin: 16px;
   
}
.logo{
  border-radius: 500px;
  max-height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0.25);

}

.titulo{
  margin-lef: 20px;
}
.titulo h1{
  font-weigt:700;
  font-size: 24px;
  
}

.titulo h3{
  font-weigt:400;
  font-size: 24px;
  
}
.logo-link{
  color: #1C1C1C;
  text-decoration:none;
  
}

.tema button{
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ECF4FF;
	border-radius: 100px;

}

.projetos{
 display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;

}
.projetos-titulo{
  list-style:none;
font-weigth:700px;
  font-size:36px;
  
}
.projetos-item{
 list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  
}
.projetos-item a{
  color: #1C1C1C;
  text-decoration:none;
}
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}
.dark .container {
  background: #333439;
  color: #f6f6f6;
}
.dark .projetos {
  color: #1c1c1c;
}
.dark .tema button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}